@import 'tailwindcss';

@theme {
  --color-primary: #1164ff;
  --color-secondary: #00fbff;
  --color-text: #16171b;
  --color-gray: #9f9eac;
  --color-gray-accent: #717380;
  --color-accent: #babcc9;
  --color-accent-lighter: #e4e7ed;
  --color-input: #e7e6eb;
  --color-bg: #edf1f5;

  --main-height: calc(100vh - 64px - 88px) /* 64px: header, 88px: footer */
}

:root {
  background: var(--color-bg);
  color: var(--color-text);
}

/* @utility border-main {
  @apply border-green-500
} */