@import 'tailwindcss';


:root {
  --primary: #1164ff;
  --secondary: #00fbff;
  --text: #16171b;
  --gray: #9f93ac;
  --gray-accent: #717380;
  --accent: #babcc9;
  --accent-lighter: #e4e7ed;
  --input: #e7e6eb;
  --background: #edf1f5;
  --code-highlight: #37394e
}

.dark {
  --primary: #00fbff;
  --secondary: #1164ff;
  --text: #e4e7ed;
  --gray: #6b6b80;
  --gray-accent: #adb0c3;
  --accent: #494754;
  --accent-lighter: #16171b;
  --input: #0f0f12;
  --background: #1f2028;
  --code-highlight: #37394e
}


@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-gray: var(--gary);
  --color-gray-accent: var(--gray-accent);
  --color-accent: var(--accent);
  --color-accent-lighter: var(--accent-lighter);
  --color-input: var(--input);
  --color-bg: var(--background);
  --color-code-highlight: var(--code-highlight)
}